.blog-teaser-container {
	@include outer-container;
	padding: $base 0 ($base * 2);

	.blog-teaser {
		@include span-columns(6);
		padding: ($base * 2);
		text-decoration: none;

		p {
			margin-bottom: 0;
		}
	}
}