$base: 26px;

html, 
body {
    font-family: "Merriweather", Georgia, serif;
    font-size: 14px; 
    line-height: $base;
    color: $black;
}

h1, .h1, 
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
    font-family: "Playfair Display", "Times New Roman", Times, serif;
}

h1, .h1 {
    font-size: 49px;
    line-height: $base * 2;
}

h2, .h2,
h3, .h3 {
    font-size: $base;
    line-height: $base;
}

h4, .h4 {
    font-size: $base;
    line-height: $base;
}

h5, .h5 {
    font-size: $base;
}

h6, .h6 {
}

blockquote {
}

strong {
}

a {
}


// MARGINS
h1, h2, h3, h4, h5, h6, p, blockquote {
	margin: 0 0 $base;
}

hgroup *, .hgroup * {
	margin-bottom: 0;
}


// HELPER CLASSES 

.intro {
}

// colors
.green {
	color: $green;
}

.white {
    color: $white;
}

.black {
    color: $black;
}

.lightgray {
	color: $lightgray;
}

.darkgray {
	color: $darkgray;
}
