.button {
	display: inline-block;
	padding: ($base * 0.5) ($base * 1.5);
	border: $border-thin;
	background: $black;
	color: $green;
	text-decoration: none;
}

.button:hover, .button:focus {
	@include linear-gradient(to top, $green, $lightgreen);
	color: $black;
}


.button--box:hover {
	@include linear-gradient(to top, $green, $lightgreen);
}