.slider {
	@include outer-container;
	margin-top: $base * 3;

	.slider-leftarrow,
	.slider-rightarrow {
		@include span-columns(1);
		position: relative;
		top: 180px;
	}

	.slider-leftarrow {
		@include transform(rotate(180deg));
	}

	.slider-leftarrow:hover polyline,
	.slider-rightarrow:hover polyline {
		stroke: $green;
	}

	.slide {
		@include span-columns(10);
		padding: $base;
		height: $base * 20;
		position: relative;


		.button-container {
			position: absolute;
			bottom: $base;
		}
	}

	// temp images	
	.slide {
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url(/images/temp/slides/walk.jpg);

		h2 {color: $white;}
	}
	.slide.two {
		background-image: url(/images/temp/slides/dog.jpg);
		background-position: bottom center;

		p, h2 {color: $white;}
	}
	.slide.three {
		background-image: url(/images/temp/slides/dog.jpg);
		
		h2 {color: $black;}
	}
}

